name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rust:1.63.0
    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: |-
        rustup component add clippy
        cargo clippy
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
